{% capture logo_path %}{{ site.logo }}{% endcapture %}
<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        {% unless logo_path == empty %}
          <a class="site-logo" href="{{ '/' | relative_url }}"><img src="{{ logo_path | relative_url }}" alt="{{ site.masthead_title | default: site.title }}"></a>
        {% endunless %}
          <a class="site-title" href="{{ '/' | relative_url }}">
          {{ site.masthead_title | default: site.title }}
          {% if site.subtitle %}<span class="site-subtitle">{{ site.subtitle }}</span>{% endif %}
        </a>

        <!-- original stuff 
        <ul class="visible-links">
          {%- for link in site.data.navigation.main -%}
            <li class="masthead__menu-item">
              <a href="{{ link.url | relative_url }}"{% if link.description %} title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
            </li>
          {%- endfor -%}
        </ul>
        end original stuff-->

        <ul class="visible-links">
          <li class="masthead__menu-item">
            <a id="gettingstarted" href="/en/gettingstarted/gettingstarted" title="Getting Started">Getting Started</a>
          </li>
          <li class="masthead__menu-item">
            <a id="programming" href="/en/programming/manual" title="C++ Manual">C++ Manual</a>
          </li>
          <li class="masthead__menu-item">
            <a id="remote" href="/en/remote/remote" title="Remote Control">Remote Control</a>
          </li>
          <li class="masthead__menu-item">
            <a id="firmware" href="/en/firmware/flash" title="firmware">Firmware</a>
          </li>
          <li class="masthead__menu-item">
            <a id="api" href="/en/cpp-api/index" title="api">api</a>
          </li>
          <li class="masthead__menu-item">
            <a id="products" href="/en/products/index" title="Products">Products</a>
          </li>
          <li class="masthead__menu-item">
            <a id="faq" href="/en/faq" title="FAQ">FAQ</a>
          </li>
        </ul>

        <!-- Translation -->
        <script>
          if ( location.pathname.startsWith('/de/') ) {

            const gettingstarted = document.getElementById("gettingstarted");
            gettingstarted.title = "Inbetriebnahme";
            gettingstarted.innerHTML = "Inbetriebnahme";
            gettingstarted.href = "/de/gettingstarted/gettingstarted"
            
            const programming = document.getElementById("programming");
            programming.title = "C++ Handbuch";
            programming.innerHTML = "C++ Handbuch";
            programming.href = "/de/programming/manual"

            const remote = document.getElementById("remote");
            remote.title = "Fernsteuerung";
            remote.innerHTML = "Fernsteuerung";
            remote.href = "/de/remote/remote"

            const firmware = document.getElementById("firmware");
            firmware.href = "/de/firmware/flash"

            const api = document.getElementById("api");
            api.href = "/de/cpp-api/index"

            const faq = document.getElementById("faq");
            faq.href = "/de/faq"

            const products = document.getElementById("products");
            products.title = "Produkte";
            products.innerHTML = "Produkte";
            products.href = "/de/products/index"
                      }
        </script>


        <!-- language picker -->
        <a href="#" onclick="location.href=location.href.replace('/de/', '/en/')"><img class="language-picker" src="/assets/img/uk.png"></a>
        <a href="#" onclick="location.href=location.href.replace('/en/', '/de/')"><img class="language-picker" src="/assets/img/germany.png"></a>

        <!-- language picker -->

        {% if site.search == true %}
        <button class="search__toggle" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label | default: "Toggle search" }}</span>
          <i class="fas fa-search"></i>
        </button>
        {% endif %}
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle menu" }}</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
